@{
    ViewData["Title"] = "Employer Salary Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employer Salary Details</h2>

<table class="table table-bordered table-responsive table-hover">  
    <tr>
        <th>Employee Name </th>
        <th>Deduction ($)</th>  
        <th>NetSalary ($)</th>
    </tr>  
    <tr>  
        <td>@ViewBag.Name</td>  
        <td>@ViewBag.Deduction</td>  
        <td>@ViewBag.NetSalary</td>
    </tr>  
  
</table>

<div>
    @Html.ActionLink("Employers Details", "Index")
</div>